# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log
commands:
    01-command:
        command: wget -O/etc/yum.repos.d/couchbase.repo http://packages.couchbase.com/rpm/couchbase-centos55-x86_64.repo

    02-command:
        command: yum install epel-release
        ignoreErrors: true

    03-command:
        command: yum check-update
        ignoreErrors: true

    04-command:
        command: yum install -y --enablerepo=epel libev

    05-command:
        command: yum install -y libcouchbase2-libevent libcouchbase2 libcouchbase-devel

    06-command:
        command: gem update --system
